.card{
    border: 2px solid red;
    margin: 300px ;
    width: 27%;
    margin-left: 550px;
    height: 170px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 6px 6px 10px grey ;
    margin-top: -250px;
    z-index: 2;
}
h2{
    color: red;
    font-family: sans-serif;
    font-weight: lighter;
}
input{
    border: 1px solid red;
    width: 200px;
    height: 25px;
    border-radius: 7px;
    box-shadow: 2px 2px 10px grey;
    font-family: sans-serif;
}
button{
    margin-top: 20px;
    background-color: red;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    padding:  7px 15px;
}
.tasks{
    font-weight: bold ;
    font-size: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 380px;
    margin-top: 115px;
    margin-bottom: 40px;

}
.lists{
    font-weight: 100;
}
.card-container{
    display: flex;
    justify-content:space-evenly;
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 20px;
}
.hr{
    margin-left: 50px;
}
.task1{
    border: 1px solid red;
    border-radius: 15px;
    margin: auto;
    box-shadow: 4px 4px 10px grey;
    height: 350px;
    width: 225px;

}
.task2{
    border: 1px solid red;
    border-radius: 10px;
    margin: auto;
    box-shadow: 4px 4px 10px grey;
    height: 350px;
    width: 225px;
}
.task3{
    border: 1px solid red;
    border-radius: 10px;
    margin: auto;
    box-shadow: 4px 4px 10px grey;
    height: 350px;
    width: 225px;
}
.heading{
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
    color: red;
    font-family: 'Assistant', sans-serif;
    margin-top: 30px;
    
    
}
.completed-task{
    color: red;
    margin-left: 30px;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 50px;
}
.pending-task{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    font-family: sans-serif;
}
.blur{
    filter: blur(10px);
}
.done{
    display: flex;
}